broker.id={{broker_id}}
delete.topic.enable=true

#Disable auto create topic
auto.create.topics.enable=false


listeners=PLAINTEXT://{{ansible_host}}:9092
advertised.listeners=PLAINTEXT://{{ansible_host}}:9092
 
num.network.threads=3
num.io.threads=8
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600

log.dirs={{kafka_log_dir}}

num.partitions=3
num.recovery.threads.per.data.dir=1


log.retention.hours=168
#log.retention.bytes=1073741824
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000

zookeeper.connect={{zookeeper_connect_servers}}
zookeeper.connection.timeout.ms=6000